Pipelines/PL_Get_Latest_Readings.json
{
    "name": "PL_Get_Latest_Readings",
    "objectId": "5f3f0a84-dcbb-4b5e-a483-b0305623218c",
    "properties": {
        "activities": [
            {
                "name": "Get Yesterdays Readings",
                "description": "Gets yesterdays flood readings from the environment agency and loads them to the Lakehouse",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get Date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "HttpReadSettings",
                            "requestMethod": "GET"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        },
                        "datasetSettings": {
                            "annotations": [],
                            "type": "DelimitedText",
                            "typeProperties": {
                                "location": {
                                    "type": "HttpServerLocation",
                                    "relativeUrl": {
                                        "value": "@concat('data/readings.csv?date=',variables('yesterday'))",
                                        "type": "Expression"
                                    }
                                },
                                "columnDelimiter": ",",
                                "escapeChar": "\\",
                                "firstRowAsHeader": true,
                                "quoteChar": "\""
                            },
                            "schema": [],
                            "externalReferences": {
                                "connection": "b12e24f8-e829-4ac4-be4e-53597e6b8858"
                            }
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "LakehouseWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        },
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "LH_Fabric_AI_Hack",
                                "properties": {
                                    "annotations": [],
                                    "type": "Lakehouse",
                                    "typeProperties": {
                                        "workspaceId": "7003a442-ca1a-4e36-9d8e-f91ff7f817fe",
                                        "artifactId": "9ff8b2a2-92fb-489f-9a14-42c5c04b70be",
                                        "rootFolder": "Files"
                                    }
                                }
                            },
                            "type": "DelimitedText",
                            "typeProperties": {
                                "location": {
                                    "type": "LakehouseLocation",
                                    "fileName": "yesterdays_readings.csv",
                                    "folderPath": "flood_readings"
                                },
                                "columnDelimiter": ",",
                                "escapeChar": "\\",
                                "firstRowAsHeader": true,
                                "quoteChar": "\""
                            },
                            "schema": []
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                }
            },
            {
                "name": "Get Date",
                "description": "Calculates yesterdays date",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "yesterday",
                    "value": {
                        "value": "@formatDateTime(adddays(utcnow(),-1), 'yyyy-MM-dd')\n",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "yesterday": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastModifiedByObjectId": "93cebbab-d9b9-489a-b6d7-8dfd90c23135",
        "lastPublishTime": "2024-03-02T21:48:20Z"
    }
}